@import "config";

.footer {
  width : 100%;
  background-color: #cc9694;
  background-size: cover;
  padding: $gutter;

  &__content {

    margin: 0 auto;
    max-width: $max-width;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;

    justify-content: space-around;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: left;
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }

  &__title {
    font-style: $font-heading;
    font-size: 1.5em;
    margin-bottom: $gutter/2;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-top: 5px;
  }

  &__link {
    font-style: $font-main;
    text-decoration: none;
    color: #fcffd2;
  }

  &__link:hover{
    color: #ffffff;
    transition: 0.3s;
  }

  &__copyright {
  width: 100%;
  max-width: $max-width;

  margin: $gutter auto 0;
  padding-top: $gutter;

  text-align: center;
  font-size: 0.75rem;
  }
}
