@import "config";

.footer {
  width : 100%;
  background-color: #cc9694;
  background-size: cover;
  padding: $gutter;

  &__content {
    margin-left: -$gutter;
    margin-right: -$gutter;
    padding: $gutter;
    margin: 0 auto;
    max-width: $max-width;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: left;
  }

  &__title {
    font-style: $font-heading;
    font-size: 1.5em;
    margin-bottom: $gutter/2;
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-top: 0.5em;
  }

  &__link {
    font-style: $font-main;
    text-decoration: none;
    color: #fcffd2;
  }
}
