

// stærð á texta fyrir grunnstærð < 800px
.index__col {
    h1 {font-size: 4em;
    margin-bottom: 0.5em;}
    h2 {font-size: 3em;
    margin-bottom: 0.5em;
    padding-left: 0.4em;}
    p  {font-size: 1.8em;
    padding-left: 0.5em;}
  }

//default
.index__row {
   display: flex;
   flex-wrap: wrap;
 }


/* viewport fyrir undir 800px */
@media (max-width: 799px) {

  .index__row:nth-of-type(2) {
    flex-direction: column-reverse;}

  .index__col img { width : 100%;}

  }


/* viewport fyrir >= 800px */
@media (min-width: 799px) {

    .index__col img {
      width : 100%;
      padding-top: 1em;}

      .index__col {
      width: 50%;}
}

/* viewport fyrir >= 1450px */
@media (min-width: 1450px) {

    .index__col img {
      width : 100%;
      h2{  margin-top: 1.5em;}}

      .index__col:nth-of-type(1) {
        p {font-size: 1.6em;}}

      .index__row{  margin-top: 1em; h2 {margin-top : 2em;}}

}
