

// font á texta
p, li { font-family: 'helvetica', sans-serif; color : #000000;}
h1, h2 { font-family: 'Oswald', sans-serif; color : #000000;}


.card {line-height: $gutter * 3;}
.main__col {line-height: $gutter * 3; }
