@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: $font-main;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $max-width) {
    margin: 0;
  }
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

// TODO sækja allar sass skrár
@import "scss/header";
@import "scss/footer";
@import "scss/text.scss";
@import "scss/button.scss";
@import "scss/staff.scss";
@import "scss/products.scss";
@import "scss/index.scss";
@import "scss/cart.scss";
